@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	background: #FEFEFB;
	color: #9196A1;
}

.header {
	margin-bottom: 113px;
}

.container {
	max-width: 1160px;
	padding: 0 60px;
	margin: 0 auto;
}

.header__img {
	min-height: 800px;
	background: url(./../img/header/header-img.jpg) no-repeat right;
	background-position: top 0 right 0;
}

.header__top {
	padding-top: 44px;
	margin-bottom: 138px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo-list {
	display: flex;
}

.nav__logo {
	margin-right: 80px;
	font-size: 24px;
	font-weight: 700; 
}

.logo a {
	color: #FDB100;
}

.nav__list {
	display: flex;
	column-gap: 40px;
	align-items: center;
	font-size: 18px;
	font-weight: 400; 
}

.nav__list a {
	color: #9196A1;
}

.nav__login {
	display: flex;
	column-gap: 14px;
	align-items: center;
}

.nav__btn {
	font-size: 18px;
	font-weight: 600;
	color: #FDB100;
}

.nav__toggle {
	display: none;
}

.header__row {
	max-width: 688px;
}

.header__title {
	margin-bottom: 16px;
	font-size: 72px;
	font-weight: 700;
	line-height: 88px;
	color: #25292D;
}

.header__text {
	max-width: 567px;
	margin-bottom: 42px;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: #4A525A;
}

.header__buttons {
	display: flex;
	column-gap: 24px;
	align-items: center;
}

.btn-add {
	width: 278px;
	height: 60px;
	background: #FDB100;
	border-radius: 16px;
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
}

.btn-add_inc {
	padding-right: 23px;
}

.btn-login {
	padding: 16px 78px;
	border: 1px solid #FDB100;
	border-radius: 16px;
	font-size: 18px;
	font-weight: 600;
	color: #FDB100;
	background: #fff;
}

.sorting {
	margin-bottom: 157px;
}

.sorting__info {
	max-width: 811px;
}

.sorting__title {
	padding-bottom: 16px;
	font-size: 42px;
	font-weight: 700;
	line-height: 62px;
	color: #25292D;
}

.sorting__text {
	padding-bottom: 42px;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	color: #4A525A;
}

.sorting__category {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 29px;
}

.category {
	max-width: 278px;
	padding: 24px;
	background: #FFFFFF;
	box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
	border-radius: 24px;
}

.category__inc {
	padding: 13px;
	background: #FFEFCC;
	border-radius: 12px;
}

.category__title {
	padding-top: 24px;
	padding-bottom: 18px;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: #25292D;
}

.category__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #4A525A;
}

.dish-day {
	margin-bottom: 150px;
}

.container__dish-day {
	display: flex;
	max-width: 1160px;
	padding: 0 60px;
	margin: 0 auto;
	column-gap: 73px;
}

.dish-day__info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;
}

.dish-day__img {
	position: relative;
	max-width: 543px;
}

.dish-day__contact {
	position: absolute;
	margin-top: 475px;
	margin-left: -545px;
	padding: 2px 16px;
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: #FDB100;
	background: #FFFFFF;
	border-radius: 0 5px 5px 0;
}

.dish-day__inc {
	margin-top: 42px;
}

.dish-day__statistics {
	display: flex;
	column-gap: 30px;
}

.dish-day__like {
	column-gap: 9px;
}

.dish-day__timer {
	display: flex;
	max-height: 21px;
	column-gap: 9px;
}

.dish-day__info-text {
	max-width: 513px;
}

.dish-day__title {
	margin-bottom: 16px;
	font-size: 42px;
	font-weight: 700;
	line-height: 60px;
	color: #25292D;
}

.dish-day__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	color: #4A525A;
}

.search {
	margin-bottom: 106px;
}

.search__content {
	text-align: center;
}

.search__title {
	padding-bottom: 16px;
	font-size: 42px;
	font-weight: 700;
	line-height: 51px;
	color: #25292D;
}

.search__text {
	padding-bottom: 64px;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	color: #4A525A;
}

.search-form {
	align-items: center;
}

.search__dish {
	padding: 28px 464px 28px 32px;
	background: #FFFFFF;
	box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
	border-radius: 16px;
}

.search__btn {
	margin-left: 16px;
	padding: 27px 32px;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	color: #FFFFFF;
	background: #FDB100;
	border-radius: 16px;
}

.search__tegs {
	display: flex;
	margin-top: 24px;
	margin-left: 105px;
	column-gap: 12px;
}

.dish__teg-name {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #808080;
}

.footer {
	background: #FBF9F4;
	padding: 37px 0;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #FDB100;
}

.footer__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #4A525A;
}

.menu-icon-wrapper {
	--time: 0.1s;
	--width: 40px;
	--height: 30px;
	--line-height: 4px;
	--color: #000;

	height: var(--height);
	width: var(--width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
	transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
	top: calc(var(--line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.popup__container {
	display: flex;
	width: 100%;
	height: 100%;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup__content {
	margin: auto;
	background-color:#FEFEFB;
	border-radius: 24px;
	position: relative;
	box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
}

.popup__title {
	margin-top: 60px;
	margin-bottom: 45px;
	padding-left: 62px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #25292D;
}

.popup__input {
	display: block;
	width: 580px;
	height: 50px;
	margin-bottom: 20px;
	margin-left: 60px;
	margin-right: 60px;
	padding: 11px 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: rgba(37, 41, 45, 0.5);
	border: 1px solid rgba(145, 150, 161, 0.4);
	box-sizing: border-box;
	border-radius: 16px;
}

.popup__input:focus {
	outline: none;
	border: 1px solid #727A82 
}

.popup__reg-inputs {
	display: flex;
	margin-left: 60px;
}

.popup__reg-input {
	width: 278px;
	height: 50px;
	margin-right: 24px;
	padding: 11px 20px;
	border: 1px solid rgba(145, 150, 161, 0.4);
	box-sizing: border-box;
	border-radius: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: rgba(37, 41, 45, 0.5);
}

.popup__reg-input:focus {
	outline: none; 
	border: 1px solid #727A82
}

.popup__reg-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 28px;
	color: rgba(37, 41, 45, 0.3);
}

.popup__text {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #4A525A;
	flex-wrap: wrap;
}

.popup__btns {
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 50px;
}

.popup__btn-orange-enter {
	cursor: pointer;
	padding: 16px 109px;
	margin-right: 22px;
	border-radius: 16px;
	background: #FDB100;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;	
	color: #FFFFFF;
	border: 1px solid #FDB100;
}

.popup__btn-orange-enter:hover {
	background: #FD8800;
	transition: .2s all;
}

.popup__btn-white-register {
	cursor: pointer;
	margin-right: 22px;
	margin-right: 60px;
	padding: 16px 85px;
	border-radius: 16px;
	background: #FEFEFB;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;	
	color: #FDB100;
	border: 1px solid #FDB100;
	box-sizing: border-box;
}

.popup__btn-white-register:hover {
	color: #FD8800;
	border: 1px solid #FD8800;
	transition: .2s all;
}

.popup__btn-orange {
	cursor: pointer;
	margin-right: 22px;
	width: 278px;
	height: 60px;
	border-radius: 16px;
	background: #FDB100;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;	
	color: #FFFFFF;
	border: 1px solid #FDB100;
}

.popup__btn-orange:hover {
	background: #FD8800;
	transition: .2s all;
}

.popup__btn-white {
	cursor: pointer;
	margin-right: 22px;
	margin-right: 60px;
	width: 278px;
	height: 60px;
	border-radius: 16px;
	background: #FEFEFB;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;	
	color: #FDB100;
	border: 1px solid #FDB100;
	box-sizing: border-box;
}

.popup__btn-white:hover {
	color: #FD8800;
	border: 1px solid #FD8800;
	transition: .2s all;
}

.error__form-login {
	color: red;
	margin-bottom: 15px;
}

.err__form-reg {
	color: red;
	margin-bottom: 10px;
	margin-top: -15px;
}

.popup__not-account {
	text-align: center;
	margin-bottom: 60px;
}

.popup__not-account a {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #FDB100;
	padding-bottom: 2px;
	border-bottom: 1px dashed #FDB100;
}

.popup__close {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 21px;
	color: rgba(145, 150, 161, 0.4);
	cursor: pointer;
}

@media screen and (max-width: 960px) {

	.container {
		max-width: 960px;
		padding: 0 60px;
	}

	.nav__logo {
		margin-right: 60px;
	}

	.nav__list {
		column-gap: 30px;
	}

	.header__row {
		max-width: 650px;
	}

	.sorting__info {
		max-width: 750px;
	}

	.sorting__category {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 29px;
	}

	.container__dish-day {
		max-width: 960px;
		padding: 0 60px;
		column-gap: 30px;
	}

	.dish-day__info {
		margin-bottom: 28px;
	}

	.dish-day__img {
		max-width: 483px;
	}

	.dish-day__contact {
		margin-top: 430px;
		margin-left: -485px;
	}

	.dish-day__like {
		column-gap: 5px;
	}

	.dish-day__timer {
		column-gap: 5px;
	}

	.dish-day__info-text {
		max-width: 530px;
	}

	.dish-day__title {
		font-size: 32px;
		line-height: 40px;
	}

	.search__tegs {
		margin-top: 20px;
		margin-left: 20px;
		column-gap: 12px;
	}
}

@media screen and (max-width: 768px) {

	.nav__list--header {
		display: none;
	}

	.nav__login--header {
		display: none;
	}

	.nav__toggle {
		display: block;
	}

	.nav--mobile {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		flex-direction: column;
		padding-top: 40px;
		padding-bottom: 40px;
		background: #F9CD1C;
	}

	.nav--mobile .nav__logo-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 400px;
	}

	.nav--mobile .nav__logo a {
		margin-right: -60px;
		font-size: 25px;
		color: #000;
	}

	.nav--mobile .nav__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;
		font-size: 22px;
	}

	.nav--mobile .nav__login {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 22px;
	}

	.nav--mobile .nav__toggle {
		position: fixed;
		top: 40px;
		right: 50px;
	} 

	.container {
		max-width: 768px;
		padding: 0 40px;
	}

	.nav__logo {
		padding-right: 0;
	}

	.nav__list a {
		font-size: 25px;
		font-weight: 600;
		color: #000;
	}

	.nav__login {
		padding-left: 0;
	}

	.nav__login a {
		color: #000; 
	}

	.nav__login-inc {
		display: none;
	}

	.nav__btn {
		font-size: 25px;
	}

	.container__dish-day {
		max-width: 768px;
		padding: 0 40px;
	}

	.dish-day__img {
		max-width: 283px;
	}

	.dish-day__contact {
		margin-top: 240px;
		margin-left: -285px;
	}

	.dish-day__inc {
		margin-top: 10px;
	}

	.dish-day__title {
		font-size: 28px;
	}

	.search__dish {
		padding: 28px 264px 28px 32px;
	}

	.search__tegs {
		margin-top: 20px;
		margin-left: 20px;
		column-gap: 12px;
	}

	.footer__logo {
		font-size: 20px;
	}

	.footer__text {
		font-size: 16px;
	}
}

@media screen and (max-width: 320px) {

	.header {
		margin-bottom: 90px;
	}

	.container {
		max-width: 320px;
		padding: 0 20px;
	}

	.header__img {
		min-height: 0;
		background: none;
		background-position: none;
	}

	.nav--mobile .nav__toggle {
		right: 25px;
	} 

	.nav__logo {
		font-size: 22px;
	}

	.header__top {
		margin-bottom: 80px;
	}

	.header__row {
		max-width: 300px;
	}

	.header__title {
		font-size: 30px;
		line-height: 32px;
	}

	.header__text {
		max-width: 300px;
		margin-bottom: 40px;
	}

	.header__buttons {
		display: block;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.btn-add {
		margin-bottom: 35px;
		width: 250px;
		height: 50px;
		font-size: 17px;
	}

	.btn-add_inc {
		padding-right: 20px;
	}

	.btn-login {
		padding: 12px 92px;
	}

	.sorting {
		margin-bottom: 80px;
	}

	.sorting__info {
		max-width: 300px;
	}

	.sorting__title {
		font-size: 30px;
		line-height: 32px;
	}

	.sorting__text {
		max-width: 300px;
		margin-bottom: 20px;
	}

	.sorting__category {
		grid-template-columns: repeat(1, 1fr);
		column-gap: 29px;
	}

	.dish-day {
		margin-bottom: 80px;
	}

	.container__dish-day {
		display: block;
		max-width: 300px;
		padding: 0 20px;
	}

	.dish-day__info {
		margin-bottom: 32px;
	}

	.dish-day__img {
		max-width: 260px;
	}

	.dish-day__contact {
		margin-top: 220px;
		margin-left: -265px;	
		padding: 2px 14px;
	}

	.dish-day__inc {
		max-width: 80px;
		margin-top: 15px;
		margin-right: 30px;
	}

	.dish-day__statistics {
		margin-top: 30px;
		display: flex;
		column-gap: 30px;
	}

	.dish-day__like {
		display: flex;
		flex-direction: column;
	}

	.dish-day__like-inc {
		max-height: 24px;
	}

	.dish-day__timer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.dish-day__info-text {
		max-width: 300px;
	}

	.dish-day__title {
		font-size: 25px;
		line-height: 32px;
	}

	.dish-day__text {
		max-width: 300px;
		margin-bottom: 20px;
	}

	.search {
		margin-bottom: 80px;
	}

	.search__title {
		font-size: 25px;
		line-height: 32px;
	}

	.search__text {
		max-width: 300px;
		padding-bottom: 25px;
	}

	.search__dish {
		padding: 28px 50px 28px 32px;
		margin-bottom: 22px;
	}

	.search__btn {
		margin-left: 0;
		padding: 20px 42px;
	}

	.search__tegs {
		display: none;
	}

	.popup__content {
		max-width: 300px;
	}

	.popup__title {
		max-width: 265px;
		margin-top: 50px;		
		margin-bottom: 30px;
		padding-left: 35px;
		font-size: 22px;
	}

	.popup__text {
		max-width: 265px;
		margin-left: 35px;
		margin-bottom: 40px;
	}

	.popup__btns {
		display: flex;
		flex-direction: column;
		max-width: 265px;
		margin-left: 35px;
		margin-bottom: 20px;
	}

	.popup__btn-orange-enter {
		padding: 12px 50px;
		margin-right: 35px;
		margin-bottom: 15px;
		text-align: center;
	}

	.popup__btn-white-register {
		padding: 12px 50px;
		margin-right: 35px;
		margin-bottom: 15px;
		text-align: center;
	}

	.popup__input {
		width: 230px;
		margin-bottom: 15px;
		margin-left: 35px;
		margin-right: 35px;
	}

	.popup__btn-orange {
		margin-right: 35px;
		margin-bottom: 15px;
		width: 230px;
		height: 50px;
		font-size: 17px;
	}

	.popup__btn-white {
		margin-right: 35px;
		margin-bottom: 15px;
		width: 230px;
		height: 50px;
		font-size: 17px;
	}
	
	.popup__reg-inputs {
		margin-left: 35px;
	}

	.popup__reg-input {
		width: 230px;
		margin-right: 35px;
	}

	.popup__not-account {
		margin-bottom: 25px;
		font-size: 17px;
	}
}

